<mat-toolbar color="primary" class="toolbar">
  <a routerLink="/home" class="brand">MegaLoja</a>
  <span class="spacer"></span>
  <button
    mat-icon-button
    [matBadge]="cartService.itemsCount()"
    matBadgeColor="accent"
    matBadgeSize="small"
    routerLink="/carrinho"
    aria-label="Carrinho"
  >
    <mat-icon>shopping_cart</mat-icon>
  </button>
  <button mat-icon-button [matMenuTriggerFor]="userMenu" aria-label="Usuário">
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #userMenu="matMenu" xPosition="before">
    <button mat-menu-item routerLink="/pedidos">
      <mat-icon>receipt_long</mat-icon>
      <span>Meus Pedidos</span>
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Sair</span>
    </button>
  </mat-menu>
</mat-toolbar>

<main class="main-content">
  <router-outlet />
</main>
